::root{
  --color-background: #1A1A1A;
}

body{
  background-color: var(--color-background, #1a1a1a);
  font-family: Open Sans, Sans-serif;
  color: #E9ECEF;
  font-size: 14px;
}

h2{
  color: #E8520C;
  font-family: Roboto Condensed;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;  
}

h3{
  color: #E8520C;
}

a{
  text-decoration: none;
}

.navbar{
  padding: 16px 32px;
}

.nav-item > a{
  color: #fff;
}

.top-button {
  padding-right: 32px;
}

.top-button > a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #E8520C;
  gap: 4px;
  border-radius: 6px;
  text-decoration: none;
  width: Hug (284px)px;
  height: Hug (32px)px;
}

.top-button > a > p {
  color: #fff;
  margin: 0;
  background-color: #E8520C;
  line-height: 1;
  font-size: 14px;
}

.carousel-indicators{
  background-color: transparent;
}

.shadow-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 42.6%, rgba(0, 0, 0, 0.1) 100%);
  mix-blend-mode: multiply;
  pointer-events: none; 
}

.text-slide {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
  color: #E9ECEF;
  width: 687px;
  height: Hug (86px)px;
  gap: 12px;
  font-weight: 500;
  padding-left: 22px;
  z-index: 1;
}

.container-main{
  background-color: #FFFFFF;
  height: Hug (714px)px;
  top: 423px;
  padding: 32px;
  gap: 32px;
  width: 100%;
}

.container-focous{
  max-width: 1336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products{
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.top-main{
  color: #6C757D;
}

.selected{
  border-bottom: 2px solid var(--Logo-Colors-Orange-7, #E8520C) !important;
  background-color: transparent !important;
}

.nav-link:hover{
  color: #E8520C;
}

.btt-categ{
  color:#ADB5BD;
}

.img-product {
  width: 144px;
  height: 223px;
}

.card-body{
  border-top: 1px solid var(--Gray-2, #E9ECEF);
  background: var(--Gray-1, #F8F9FA);
  border-radius: 8px;
}

.card-body > p{
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;  
}

.main-info{
  width: Fixed (1366px)px;
  height: Fixed (376px)px;
  top: 1137px;
  padding: 32px;
  gap: 20px;
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-img: url('./img/fundo.png') no-repeat;
}

.main-info > h2{
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.main-info > p{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: center;
  color:#1A1A1A;
}

.main-info > p > b{
  color: var(--Logo-Colors-Orange-7, #E8520C);
}

.container-footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 16px 32px;
  gap: 150px;
}

.container-footer > div{
  margin: 0;
  flex: 1;
}

.footer-logo{
  width: Fixed (469px)px;
  height: Hug (188px)px;
  gap: 26px;
  flex:1;
}

.footer-logo > img{
  width: 203px;
}

.footer-logo > p{
  width: 469px;
  height: 103px;
  font-weight: 500;
  line-height: 25.6px;
  text-align: left;
}

.footer-menu{
  display: flex;
  flex-direction: column;
  width: Hug (115px)px;
  height: Hug (144px)px;
  gap: 16px;
}

.footer-menu > a{
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #FFFFFF;
}

.footer-contact{
  width: Hug (398px)px;
  height: Hug (207px)px;
  gap: 12px;
}

.footer-contact > div > section > a{
  margin:0;
  display: flex;
  width: Hug (398px)px;
  height: Hug (45px)px;
  gap: 8px;
  align-items: center;
}

.footer-contact > div > section > a > p{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #FFFFFF;
}

.footer-contact > h3{
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #FFFFFF;
}

.footer-final{
  display: flex;
  justify-content: center;
  padding: 20px 10px 10px 10px;
  background: #151515;
}

.footer-final > p{
  height: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #8E8E8E;
}

@media (max-width: 1366px){

}