@media (max-width: 1366px) {
  .container-main {
    padding: 20px;
    width: 90%;
    margin-left: 5.5%;
    overflow: hidden;
  }

  .products {
    flex-direction: column; 
    gap: 16px;
  }

  .section-cards{
    height: Hug (265px)px;
    gap: 16px;
  }

  .card{
    width: 23.6%;
    border-radius: 6px;
  }

  .card-seg {
    width: 100%;
  }

  .element-seg {
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 4px;
  }
  
  .element-seg > p {
    font-size: 16px;
  }

  .icon-card {
    width: 34px;
  }

  .segmentos-container{
    max-width: 1050px;
    max-height: 200px;
    gap: 12px;
  }

  .card-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 8px;
  }

  .main-info > p {
    width: 90%; 
    font-size: 16px;
  }

  .container-footer{
    gap: 60px;
  }

  .container-footer > div{
    flex:1;
  }

  .footer-logo{
    max-width: 520px;
    max-height: 88px;
    gap: 16px;
    flex:0;
  }

  .footer-logo > img{
    max-width: 143px;
    margin-bottom: 12px;
  }
  
  .footer-logo > p{
    width: 100%;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
  }
  
  .footer-menu > a{
    line-height: 12px;
  }

  .footer-menu{
    width:10px;
    flex:0;
  }
  
  .footer-contact{
    max-width: 308px;
    flex:0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card {
    flex: 1 1 calc(33.33% - 24px); 
    max-width: 307.5px; 
  }

  .segmentos-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
  }

  .card-seg{
    width: 100%;
  }

  .container-footer{
    gap: 80px;
  }

  .container-footer > div{
    flex:1;
  }

  .footer-logo{
    max-width: 570px;
    max-height: 88px;
    gap: 16px;
    flex:0;
  }

  .footer-logo > img{
    max-width: 143px;
    margin-bottom: 12px;
  }
  
  .footer-logo > p{
    width: 100%;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
  }
  
  .footer-menu > a{
    line-height: 12px;
  }

  .footer-menu{
    width:10px;
    flex:0;
  }
  
  .footer-contact{
    max-width: 218px;
    flex:0;
  }
}


@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #101010;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
  margin: 1.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.nav-button{
  display:none;
}


.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

  .container-main {
    padding: 8px; /* Reduz o padding em dispositivos móveis */
  }

  .top-button {
    display:none;
  }

  .products, .section-cards {
    flex-direction: column; /* Empilha os elementos em uma coluna */
    gap: 16px;
  }

  .card {
    flex: 0; /* Ocupa toda a largura disponível */
    max-width: 100%; /* Remove o limite de largura */
  }

  .main-info > p {
    width: 100%; /* Ajuste para mobile */
    font-size: 14px;
  }

  .carousel-indicators {
    display: none; /* Esconde os indicadores no mobile, se necessário */
  }

  .container-focous{
    width: 50%;
  }

  .container-footer{
    gap: 80px;
  }

  .container-footer > div{
    flex:1;
  }

  .footer-logo{
    max-width: 570px;
    max-height: 88px;
    gap: 16px;
    flex:0;
  }

  .footer-logo > img{
    max-width: 143px;
    margin-bottom: 12px;
  }
  
  .footer-logo > p{
    width: 100%;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
  }
  
  .footer-menu > a{
    line-height: 12px;
  }

  .footer-menu{
    width:10px;
    flex:0;
  }
  
  .footer-contact{
    max-width: 218px;
    flex:0;
  }
}

