  @media (max-width: 1366px) {
    .text-slide > h2{
      font-size: 18px;
    }
    
    .text-slide > p{
      font-size: 16px;
    }

  .container-main {
    padding: 20px;
    width: 100%;
    margin-left: 5.5%;
    overflow: hidden;
  }

  .products {
    flex-direction: column; 
    gap: 16px;
  }

  .tab-content{
    max-width: 1003px;
  }

  .btt-categ{
    font-size: 12px;
    margin-left: -50px;
  }

  .products, .section-cards {
    width: 100%;
  }

  .card{
    flex: 0 0 calc(33% - 12px);
    border-radius: 6px;
  }

  .card-body > p{
    width: 100%;
    height: 100%;
  }

  .tab-content{
    width: 100%;
  }

  .card-seg {
    width: 100%;
  }

  .element-seg {
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 4px;
  }
  
  .element-seg > p {
    font-size: 16px;
  }

  .icon-card {
    width: 34px;
  }

  .segmentos-container{
    max-width: 1050px;
    max-height: 200px;
    gap: 12px;
  }

  
  .card-body > p{
    font-size: 12px;
    max-width: 100%;
    max-height: 110px;
    font-wrap: break-word;
    line-height: 16px;
  }

  .card-img {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 8px;
  }

  .main-info > p {
    width: 90%; 
    font-size: 16px;
  }

  .container-footer{
    gap: 60px;
  }

  .container-footer > div{
    flex:1;
  }

  .footer-logo{
    max-width: 520px;
    max-height: 88px;
    gap: 16px;
    flex:0;
  }

  .footer-logo > img{
    max-width: 143px;
    margin-bottom: 12px;
  }
  
  .footer-logo > p{
    width: 100%;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
  }
  
  .footer-menu > a{
    line-height: 12px;
  }

  .footer-menu{
    width:10px;
    flex:0;
  }
  
  .footer-contact{
    max-width: 308px;
    flex:0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .text-slide {
    font-size: 18px;
    line-height: 18px;
    max-width: 497px;
    gap: 8px;
    padding-left: 18px;
  }
  
.text-slide > h2{
  font-size: 18px;
}

.text-slide > p{
  font-size: 16px;
}

.top-button > a > p {
  font-size: 12px;
}

.btt-categ{
  font-size: 12px;
  margin-left: -50px;
}

.section-cards{
  flex-wrap: wrap;
  max-width:  886px;
  gap: 12px;
  justify-content:space-between;
}
  .card {
    flex: 0 0 calc(34% - 24px); 
    width: 100%;
  }

  .card-body > h4{
    font-size: 12px;
  }

  .card-body > p{
    font-size: 11px;
    width: 233.5px;
    text-align: justify;
    line-height: 17px;
  }

  .segmentos-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
  }

  .card-seg{
    width: 100%;
  }

  .container-footer{
    gap: 80px;
  }

  .container-footer > div{
    flex:1;
  }

  .footer-logo{
    max-width: 570px;
    max-height: 88px;
    gap: 16px;
    flex:0;
  }

  .footer-logo > img{
    max-width: 143px;
    margin-bottom: 12px;
  }
  
  .footer-logo > p{
    width: 100%;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
  }
  
  .footer-menu > a{
    line-height: 12px;
  }

  .footer-menu{
    width:10px;
    flex:0;
  }
  
  .footer-contact{
    max-width: 218px;
    flex:0;
  }
}

@media (max-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Para garantir que o cabeçalho fique acima do carrossel */
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Ajuste o padding conforme necessário */
  }

  .carousel {
    height: 100vh; /* Faz o carrossel ocupar 100% da altura da tela */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa o contêiner */
    position: relative; /* Para que os indicadores e outros elementos possam ser posicionados absolutamente */
  }

  .carousel-inner {
    display: flex;
    flex-direction: row; /* Alinha os slides horizontalmente */
    width: 100%; /* Garante que o carrossel ocupe a largura total */
    height: 100%; /* Garante que o carrossel ocupe a altura total */
    transition: transform 0.5s ease-in-out; /* Transição suave ao mudar de slide */
  }

  .carousel-item {
    flex: 0 0 100%; /* Cada slide ocupa 100% da largura do carrossel */
    height: 96vh; /* Faz cada slide ocupar 100% da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .carousel-item .content {
    width: 100%; /* Ajuste conforme necessário */
    padding: 16px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Garante que o padding não afete o tamanho total */
    background: rgba(0, 0, 0, 0.5); /* Exemplo de fundo para destacar o conteúdo */
    color: #fff; /* Cor do texto do conteúdo */
    text-align: center; /* Alinha o texto ao centro */
  }

  .slide-image {
    width: 100%;
    height: 100%;
  }

  .text-slide {
    margin-bottom: 20px; /* Ajusta o espaçamento abaixo do texto */
  }

  .top-button {
    position: absolute;
    bottom: 20px;
  }

  .indicator{
    width: 44px; 
    height: 6px;
  }

  .carousel-indicators {
    height: 12px;
    display: flex;
    justify-contain: center;
    margin-bottom: 62px;
  }

  .slide-image {
    height: 100%;
    object-fit: cover;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #101010;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
  margin: 1.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.nav-button{
  display:none;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

  .top-button {
    display:none;
  }
  
  .products, .section-cards {
    flex-direction: column; /* Empilha os elementos em uma coluna */
    gap: 12px;
    width: 100%;
  }

  .section-cards, .segmentos-container{
    max-width: 766px;
    gap: 8px;
  }
    .card, .card-seg {
      flex: 1; 
      width: 100%;
    }

    .btt-categ{
      margin-left: 0px;
    }

    .card-body > p{
      font-size: 12px;
      width: 100%;
      height: 100%;
      font-wrap: break-word;
      line-height: 16px;
    }

  .main-info > p {
    width: 100%; /* Ajuste para mobile */
    font-size: 14px;
  }

  .container-footer{
    gap: 80px;
  }

  .container-footer > div{
    flex:1;
  }

  .footer-logo{
    max-width: 760px;
    max-height: 88px;
    gap: 16px;
    flex:0;
  }

  .footer-logo > img{
    max-width: 113px;
    margin-bottom: 12px;
  }
  
  .footer-logo > p{
    width: 100%;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    word-wrap: break-word;
    font-size: 8px;
  }
  
  .footer-menu > a{
    line-height: 10px;
  }

  .footer-menu{
    max-width:760px;
    flex:0;
  }

  .footer-menu > a{
    font-size: 10px;
    width:760px;
  }
  
  .footer-contact{
    max-width: 760px;
    flex:0;
  }

  .footer-contact > h3{
    font-size: 12px;
    margin-bottom: -4px;
  }

  .link-footer > p{
    font-size: 10px;
    margin-top: 16px;
  }

  .container-footer{  
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    padding-right: 20px;
    gap: 32px;
    overflow: hidden;
  }

  .container-footer > div:nth-child(2),
  .container-footer > div:nth-child(1) {
    border-top: 1px solid var(--Gray-8, #343A40);
    padding: 20px 20px 0px 20px;
    width: 453px;
  }  

  .footer-final > p{
    font-size: 10px;
  }
  
  footer{
    height: 100%;
  }
}

