@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-family: Roboto, Open Sans, Sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 90px;
}

li {
	list-style: none;
}

body {
	background-color: #FFF;
	overflow-x: hidden;
}

h2 {
	color: #E8520C;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 28px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-align: left;
}

h3 {
	color: var(--Logo-Colors-Black, #1A1A1A);
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.02em;
	text-align: left;
	height: 18px;
}

a {
	text-decoration: none;
	color: #fff;
}

b {
	color: var(--Logo-Colors-Orange-7, #E8520C);
}

.header {
	position: fixed;
	width: 100%;
	z-index: 10;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: #101010;
	padding:12px 32px;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #f1f1f1;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	list-style: none;
}

.nav-link {
	padding: 10px 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: 16px;
	color: #FFF;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link.active,
.nav-link:hover {
	color: #ff5733;
}

.nav-link.active {
	font-weight: 600;
}

.nav-logo>img {
	height: 26px;
}

.nav-link.selected {
	border-bottom: 2px solid #E8520C;
	color: #E8520C;
}

/* Transição suave para as seções ao serem ativadas */
.section-now {
	transition: background-color 0.3s ease, border-left 0.3s ease;
}

.section-now.active {
	background-color: #ffebd6;
	border-left: 4px solid #ff5733;
}

.nav-button {
	padding: 8px 12px;
	background-color: #E8520C;
	gap: 4px;
	border-radius: 6px;
}

.nav-tabs {
	display: flex;
	gap: 16px;
}

.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 50vh;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 1;
}

.indicator {
    width: 32px; 
	height: 6px; 
  border-radius: 2px;
  background: #FFFFFF80;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background: var(--Logo-Colors-White, #F2F2F2);
}

.carousel-inner {
	display: flex;
	transition: transform 0.5s ease;
}

.carousel-item {
	min-width: 100%;
	height: 50vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 140px 42px 42px 42px;
}

.carousel-item:nth-child(1){
	background-image: url('../assets/img/slide1.png');
}

.carousel-item:nth-child(2){
	background-image: url('../assets/img/slide2.png');
}

.carousel-item:nth-child(3){
	background-image: url('../assets/img/silde3.png');
}

.shadow-box::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 42.6%, rgba(0, 0, 0, 0.1) 100%);
	mix-blend-mode: multiply;
}

.text-slide {
	color: #E9ECEF;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.text-slide> p{
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
  max-width: 800px;
}

.button-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 1;
}
.top-button {
	z-index: 1;
}

.top-button>a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	background-color: #E8520C;
	gap: 6px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
}

.top-button>a>img{
	width: 20px;
}

.slide-image {
	width: 100%;
	display: block;
}

/* Produtos  */
.container-main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
}

.container-focous {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

#produtos{
	padding: 32px;
	gap: 24px;
	max-width: 1366px;
	min-height: 800px;
	width: 100%;
}

.tab-content {
	width: 100%;
}

.section-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 16px;
}

.top-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 24px;
}

.top-main>h3{
	margin-bottom: 8px;
	font-weight: bold;
}

.top-main>p{
	color: #6C757D;
}

.banner{
	background: #F8F9FA;
	border-radius: 1rem;
	padding: 1rem;
	margin-top: 8px;
}

.banner>p{
	color: #6C757D;
	text-align: justify;
	margin-top: 8px;
}

.selected {
	border-bottom: 2px solid var(--Logo-Colors-Orange-7, #E8520C) !important;
	background-color: transparent !important;
}

.btt-categ {
	color: #ADB5BD;
	margin-bottom: 24px;
	padding: 8px 0 8px 0;
}

.card {
	border-radius: 8px;
	border: 1px solid #E9ECEF;
}

.card-img {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F8F9FA;
	box-sizing: border-box;	
	border-radius: 8px 8px 0px 0px;
}

.img-product {
	width: 224px;
	height: 193px;
	object-fit: contain;
}

.card-body {
	border-top: 1px solid #E9ECEF;
	padding: 12px;
}

.card-body>h4 {
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: 600;
	line-height: 14px;
	text-align: left;
	line-height: 18.4px;
}

.card-body>p {
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	color: #6C757D;
}

/* A Quixabeiras */
.main-info {
	width: 100%;
	padding: 94px 132px 94px 132px;
	gap: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FBFBFB;
}

.main-info>img {
	position: absolute;
	width: 160px;
	opacity: 0.05;
}

.main-info>h2 {
	color: var(--Logo-Colors-Black, #1A1A1A);
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}

.main-info>p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0.02em;
	text-align: center;
	color: #1A1A1A;
  	font-family: Roboto, Open Sans, Sans-serif;
	max-width: 1000px;
}

/* Container das abas */
.tab-pane {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	position: absolute;
	width: 100%;
}

.tab-pane.show {
	opacity: 1;
	visibility: visible;
	position: relative;
	/* Traz o conteúdo de volta ao fluxo normal */
}

.btt-categ .selected .active {
	padding: 8px 0 8px 0 !important;
}

/* Segmentos */
.main-seg{
	width: 100%;
	padding: 32px;
	max-width: 1366px;
}
#segmentos{
	width: 100%;
}

.segmentos-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 16px;
}

.card-seg {
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-seg:nth-child(1){
	background-image: url("../assets/img/mine.png");
}

.card-seg:nth-child(2){
	background-image: url("../assets/img/agro.png");
}

.card-seg:nth-child(3){
	background-image: url("../assets/img/usina.png");
}

.card-seg:nth-child(4){
	background-image: url("../assets/img/ocean.png");
}
.element-seg{
	padding: 110px 16px 16px 16px;
	background-color: rgb(26, 26, 26 ,0.5);
	border-radius: 8px;
}
.element-seg>p {
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	color: #fff;
	margin-top: 12px;
}

.icon-card {
	width: 24px;
	height: auto;
}

.icon-card {
	width: 36px;
	height: 40px;
	padding: 8px 6px;
	gap: 10px;
	border-radius: 6px;
	background: var(--Logo-Colors-Orange-7, #E8520C);
}
/* Footer */
.container-footer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 32px;
	background-color: #1a1a1a;
	color: #E9ECEF;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 100px;
}

.footer-logo {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer-logo>img{
	max-width: 203px;
}

.footer-logo>p {
	flex: 1;
	font-weight: 500;
	line-height: 25.6px;
	text-align: left;
}

.footer-menu {
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: var(--color-background, #1a1a1a);
	flex: 1;
}

.footer-menu>a {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: left;
	color: #FFFFFF;
}

.footer-contact {
	flex: 1;
}

.link-all-footer>section {
	display: flex;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.footer-contact>div>section>a {
	margin: 0;
	display: flex;
	max-width: 398px;
	gap: 8px;
	align-items: center;
}

.link-footer>p {
	font-size: 16px !important;
	font-weight: 500;
	text-align: left;
	color: #FFFFFF;
}

.footer-contact>h3 {
	line-height: 18px;
	color: #FFFFFF;
}

.footer-contact>div>section>a>img{
	width: 16px;
}

.footer-final {
	display: flex;
	justify-content: center;
	padding: 20px;
	background: #151515;
}

.footer-final>p {
	height: 14px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	color: #8E8E8E;
}

.divider{
	display: none;
}

/* Estilos do modal */
.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center; 
}

.modal-content {
  background: #FFFFFF;
  border-radius: 8px;
  max-width: 600px;
  max-height: 425px;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Roboto, Open Sans, Sans-serif;
}

.modal-content>p{
	color: #6C757D;
	width: 100%;
	width: 428px;
	height: 28px;
	font-size: 14;
}

.modal-body{
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 16px;
}

.header-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  font-family: Roboto, Open Sans, Sans-serif;
  font-size: 18px;
  font-weight: 600;
	min-width: 95px;
	min-height: 18px;
}

.btn-close {
  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
}

.text-top-item{
	color: #6C757D;
  	font-family: Roboto, Open Sans, Sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 12.89px;
	text-align: left;
	max-width: 73px;
	max-height: 13px;
}

.description-item{
  font-family: Roboto, Open Sans, Sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: var(--Logo-Colors-Black, #1A1A1A);
}

.top-modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

.item-modal{
	width: 100%;
}

.item-modal > a {
  text-decoration: none;
  color: inherit;
}

.item-modal > a > p {
  font-family: Roboto, Open Sans, Sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
	max-width: 376px;
	height: 32px;
}

.header-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
	gap: 4px;
}

.item-fones {
  	display: flex;
	justify-content: space-between;
	width: 100%;
}