::root {
	--color-background: #1A1A1A;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
  font-size: 62.5%;
  font-family: Roboto, Open Sans, Sans-serif;
}

li {
	list-style: none;
}

body {
	background-color: #FFF;
	font-family: Roboto, Open Sans, Sans-serif;
	font-size: 14px;
	margin: 0 auto;
	padding: 0 auto;
	overflow-x: hidden;
}

h2 {
	color: #E8520C;
  font-family: Roboto, Open Sans, Sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-align: left;
}

h3 {
	color: var(--Logo-Colors-Black, #1A1A1A);
  font-family: Roboto, Open Sans, Sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.02em;
	text-align: left;
	height: 18px;
}

a {
	text-decoration: none;
	color: #fff;
}

.header {
	padding: 12px, 32px;
	position: fixed;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: #101010;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #f1f1f1;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	list-style: none;
}

.nav-link {
	padding: 10px 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: 16px;
	color: #6C757D;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link.active,
.nav-link:hover {
	color: #ff5733;
}

.nav-logo>img {
	height: 3rem;
}

.nav-link.selected {
	border-bottom: 2px solid #E8520C;
	color: #E8520C;
}

/* Transição suave para as seções ao serem ativadas */
.section-now {
	transition: background-color 0.3s ease, border-left 0.3s ease;
}

.section-now.active {
	background-color: #ffebd6;
	border-left: 4px solid #ff5733;
}

.nav-button {
	padding: 8px 12px;
	background-color: #E8520C;
	gap: 4px;
	border-radius: 6px;
}

.nav-tabs {
	display: flex;
	gap: 10px;
}

.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/* Estilos para os indicadores de slide */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 1;
}

.indicator {
  width: 24px; 
  height: 4px; 
  border-radius: 2px;
  background: #FFFFFF80;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background: var(--Logo-Colors-White, #F2F2F2);
}

.carousel-inner {
	display: flex;
	transition: transform 0.5s ease;
}

.carousel-item {
	min-width: 100%;
	position: relative;
}

.shadow-box::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 42.6%, rgba(0, 0, 0, 0.1) 100%);
	mix-blend-mode: multiply;
}

.text-slide {
  padding-left:42px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: #E9ECEF;
	z-index: 1;
}

.text-slide> p{
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
  margin-top: 12px;
  max-width: 800px;
  height: 46px;
}

.top-button {
	padding-right: 32px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}

.top-button>a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	background-color: #E8520C;
	gap: 4px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
}

.slide-image {
	width: 100%;
	display: block;
}

.container-main {
	background-color: #FFFFFF;
	gap: 32px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.container-focous {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.section-cards {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 24px;
}

.top-main {
	padding: 32px 0px 0px 0px;
	color: #6C757D;
	margin-bottom: 24px;
}

.top-main>h3{
	margin-bottom: 8px;
	font-weight: bold;
}

.selected {
	border-bottom: 2px solid var(--Logo-Colors-Orange-7, #E8520C) !important;
	background-color: transparent !important;
}

.btt-categ {
	color: #ADB5BD;
	margin-bottom: 24px;
}

.card {
	max-width: 307.5px;
	max-height: 388px;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid var(--Gray-2, #E9ECEF);
}

.card-img {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--Gray-1, #F8F9FA);
	box-sizing: border-box;
	opacity: 0.8;
	max-width: 307px;
	max-height: 200px;
}

.img-product {
	width: 224px;
	height: 193px;
	object-fit: contain;
}

.card-body {
	border-top: 1px solid var(--Gray-2, #E9ECEF);
	padding: 12px;
}

.card-body>h4 {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	text-align: left;
	line-height: 18.4px;
}

.card-body>p {
	font-size: 14px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	color: var(--Gray-6, #6C757D);
	width: 283.5px;
	min-height: 90px;
}

.main-info {
	height: 380px;
	top: 1137px;
	padding: 32px;
	gap: 4px;
	margin-bottom: -42px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FBFBFB;
}

.main-info>img {
	position: absolute;
	width: 160px;
	opacity: 0.08;
}

.main-info>h2 {
	color: var(--Logo-Colors-Black, #1A1A1A);
  font-family: Roboto, Open Sans, Sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}

.tab-content {
	width: 1366px;
}

/* Container das abas */
.tab-pane {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	position: absolute;
	width: 100%;
}

.tab-pane.show {
	opacity: 1;
	visibility: visible;
	position: relative;
	/* Traz o conteúdo de volta ao fluxo normal */
}

.main-info{
	z-index: 9999;
	width: 100%;
}

.main-info>p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0.02em;
	text-align: center;
	color: #1A1A1A;
  font-family: Roboto, Open Sans, Sans-serif;
	width: 988px;
	height: 144px;
}

.main-info>p>b {
	color: var(--Logo-Colors-Orange-7, #E8520C);
}

.card-seg {
	position: relative;
	max-width: 307.5px;
	max-height: 200px;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.element-seg {
	position: absolute;
	bottom: 16px;
	left: 16px;
	padding: 8px;
	border-radius: 4px;
	z-index: 1;
}

.element-seg>p {
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	text-align: left;
	color: #fff;
	margin-top: 12px;
}

.icon-card {
	width: 24px;
	height: auto;
}

.icon-card {
	width: 36px;
	height: 40px;
	padding: 8px 6px;
	gap: 10px;
	border-radius: 6px;
	opacity: 0px;
	background: var(--Logo-Colors-Orange-7, #E8520C);
}

.segmentos-container {
	padding-bottom: 32px;
	max-width: 1302px;
	max-height: 200px;
	gap: 24px;
	display: flex;
	justify-content: space-between;
}

.shadow-seg::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.1) 100%);
	mix-blend-mode: multiply;
}

.container-footer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	padding: 20px 32px;
	gap: 150px;
	background-color: var(--color-background, #1a1a1a);
	color: #E9ECEF;
	overflow: hidden;
}

.footer-logo {
	max-width: 469px;
	max-height: 188px;
	gap:16px;
}

.footer-logo>img {
	width: 203px;
	height: 69px;
	object-fit: contain;
}

.footer-logo>p {
	width: 469px;
	height: 103px;
	font-weight: 500;
	line-height: 25.6px;
	text-align: left;
}

.footer-menu {
	display: flex;
	flex-direction: column;
	max-width: 115px;
	height: 144px;
	gap: 16px;
	background-color: var(--color-background, #1a1a1a);
}

.footer-menu>a {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: left;
	color: #FFFFFF;
}

.footer-contact {
	max-width: 398px;
}

.link-all-footer>section {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.footer-contact>div>section>a {
	margin: 0;
	display: flex;
	max-width: 398px;
	gap: 8px;
	align-items: center;
}

.link-footer>p {
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #FFFFFF;
}

.footer-contact>h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	text-align: left;
	color: #FFFFFF;
}

.footer-final {
	display: flex;
	justify-content: center;
	padding: 20px;
	background: #151515;
}

.footer-final>p {
	height: 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	color: #8E8E8E;
}
/* Estilos do modal */
.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center; 
}

.modal-content {
  background: #FFFFFF;
  border-radius: 8px;
  max-width: 600px;
  max-height: 425px;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Roboto, Open Sans, Sans-serif;
}

.modal-content>p{
	color: #6C757D;
	width: 100%;
	width: 428px;
	height: 28px;
}

.modal-body{
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 16px;
}

.header-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  font-family: Roboto, Open Sans, Sans-serif;
  font-size: 18px;
  font-weight: 600;
	min	-width: 95px;
	min-height: 18px;
}

.btn-close {
  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
}

.text-top-item{
	color: #6C757D;
  font-family: Roboto, Open Sans, Sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 12.89px;
	text-align: left;
	max-width: 73px;
	max-height: 13px;
}

.description-item{
  font-family: Roboto, Open Sans, Sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: var(--Logo-Colors-Black, #1A1A1A);
}

.top-modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

.item-modal{
	width: 100%;
}

.item-modal > a {
  text-decoration: none;
  color: inherit;
}

.item-modal > a > p {
  font-family: Roboto, Open Sans, Sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
	max-width: 376px;
	height: 32px;
}

.header-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
	gap: 4px;
}

.item-fones {
  display: flex;
	justify-content: space-between;
	width: 100%;
}